.my-account-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 1em;
}

.back-button {
  margin-top: 7.7em;
}

.logout-button {
  margin-top: -18em;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .back-button {
    margin-top: 6.7em;
  }
}
