.edit-personal-data-page {
  padding: 2em;
  flex-direction: column;
  justify-content: space-between;
}

.edit-personal-data-container {
  background-color: var(--lightWhite);
  padding: 1em;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.edit-form {
  display: flex;
  flex-direction: column;
}
.date {
  font-family: "Raleway", sans-serif;
}
.form-group label {
  display: block;
}
.save-button-personal-data {
  margin-top: 1.5em;
}
.cancel-button-personal-data {
  margin-top: 2.24em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.form-group input {
  width: 100%;
  padding: 0.8em;
  font-size: 1em;
  border: 1px solid var(--border-color-secondary);
  border-radius: 4px;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4caf50;
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .cancel-button-personal-data {
    margin-top: 13em;
  }
  .save-button-personal-data {
    display: flex;
    justify-content: space-evenly;
  }
}
