.text-container {
  font-size: 30px;
  color: #333;
  height: 20dvh;
  padding-left: 1em;
  padding-right: 1em;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .text-container {
    font-size: 40px;
  }
}
