.card {
  background-color: var(--white);
  border: 1px solid var(--ligthWhite);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 80%;
  position: relative;
  padding: 1em;
  height: 10em;
}

.card-content {
  font-size: 1.2em;
}
.edit-icon-button {
  background-color: transparent;
  border: none;
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}
