.footer {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: dodgerblue;
  bottom: 0;
  height: 15vh;
  width: 100%;
}
#separator {
  color: var(--lilac);
  border: 0.1em solid;
  width: 100%;
}

#emergency {
  display: flex;
  justify-content: center;
}

.custom-button {
  font-family: Arial, sans-serif;
  font-size: 32px;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  opacity: 0.9;
}
