$light-red: #f28b82;
$red: #d32f2f;
$lilac: #c49cde;
$white: #ffffff;

@mixin button-style($background-color, $text-color, $border-color) {
  background-color: $background-color;
  color: $text-color;
  border: 2px solid $border-color;
  font-size: 32px;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    opacity: 0.9;
  }
}

#separator {
  color: $lilac;
  border: 0.1em solid;
  width: 100%;
}

#emergency {
  display: flex;
  justify-content: center;
}

.custom-button {
  @include button-style($light-red, $white, $red);
}
