.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form-container {
  background-color: white;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 70%;
  height: 60%;
}

.form-header {
  text-align: center;
  margin-bottom: 1.5rem;
}

.form-header h2 {
  color: var(--black);
  font-size: 1.75rem;
  font-weight: bold;
}

.form-group {
  margin-bottom: 1.5rem;
}

.label {
  display: block;
  color: var(--black);
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
}

.input {
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: 0.25rem;
  box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  color: black;
  outline: none;
  transition: box-shadow 0.3s ease;
}

.input:focus {
  box-shadow: 0px 0px 4px 2px #f39c12;
}
.b-care {
  font-size: 1em;
  color: var(--pink);
  margin: 0;
}
.text-logo {
  font-size: 0.7em;
  margin: 0;
  color: var(--electricBlue);
}
.error-message {
  color: var(--lightRed);
  font-size: 0.875rem;
  margin-bottom: 1rem;
}

.submit-button {
  width: 100%;
  padding: 0.75rem;
  background-color: var(--black);
  color: var(--lightWhite);
  font-size: 1rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.new-account-button {
  width: 100%;
  padding: 0.75rem;
  background-color: var(--lightWhite);
  color: var(--black);
  font-size: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;

  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: var(--black);
}
.logo {
  width: 130px;
}
.signup-text {
  margin-top: 5rem;
  text-align: left;
  font-weight: bold;
  font-size: 1rem;
  color: var(--black);
}
.signup-low-text {
  font-weight: 50;
  font-size: 0.9rem;
}
