.home-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-bottom: 10px;
}

.text-container {
  padding: 1em;
  padding-top: 0.1em;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.finish-button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 2em;
}

/* Para iPad Mini en orientación vertical */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  body {
    overflow-y: hidden;
  }
  .home-container {
    display: flex;
    flex-direction: column;
    min-height: 30vh;
    padding-bottom: 10px;
  }
  .text-container {
    margin-bottom: 2em;
  }
}
