.home-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-bottom: 80px; 
}

.text-container {
  padding: 1em;
  padding-top: 0.1em;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.finish-button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 2em;
}
